version: "3.7"

services:
  postgres:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: northstar_inventory_db
    ports:
      - "5437:5432"
    volumes:
      - northstar_inventory_pgdata:/var/lib/postgresql/data

volumes:
  northstar_inventory_pgdata:
